.search_div {
  margin-bottom: 20px;
  margin-left: auto;
  width: 550px;
  margin-right: auto;
}

.video_button_div {
  margin-bottom: 20px;
  margin-left: auto;
  width: 270px;
  margin-right: auto;
}

.video_howitworks {
  margin-bottom: 20px;
  margin-left: auto;
  width: 560px;
  margin-right: auto;
}

@media screen and (max-width: 640px) {
  .search_div {
    width: 80vw;
  }

  .video_button_div {
    width: 80vw;
  }
}

.browser_extensions {
  display: flex;
  justify-content: center;
}

.browser_extensions div:first-of-type {
  margin-right: 20px;
}

.browser_extension img {
  width: 80px;
  height: 80px;
}

.browser_extension a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment i {
  margin-right: 15px;
}

.comment span {
  margin-right: 15px;
  font-weight: bold;
  font-size: 20px;
}
