<nav class="navigation">
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="focus">TwitchLolRank</a>
    </li>
    <li>
      <a routerLink="/search" routerLinkActive="focus">Search</a>
    </li>
    <li>
      <a routerLink="/faq" routerLinkActive="focus">FAQ</a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="focus">About</a>
    </li>
    <!-- <li class="righty last-menu-item">
      <a href="#" class="navigation-settings">
        <i class="icon-large icon-cog "></i>
      </a>
    </li>
    <li class="righty">
      <a href="#" class="navigation-user">
        <i class="icon-large icon-user"></i>
      </a>
    </li> -->
  </ul>
  <br class="clear">
</nav>
<router-outlet></router-outlet>
